In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 5절. 연산자

## 5.1 산술연산자 : +, -, *, /(결과 float), //(몫), %(나머지), **(제곱)

In [9]:
print("10*5승 =", 10**5)
print("4/2(결과 실수) =", 4/2)
print("5/2(결과 실수) =", 5/2)
print("5//2(몫) =", 5//2)
print("5%2(나머지) =", 5%2)

10*5승 = 100000
4/2(결과 실수) = 2.0
5/2(결과 실수) = 2.5
5//2(몫) = 2
5%2(나머지) = 1

In [5]:
# 정수끼리 연산은 결과가 정수 (단, /는 제외(나머지))
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2.0)

4**2 = 16.0

In [12]:
# quiz1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print("입력하신 수는 {}, 2로 나눈 나머지는 {}라서 {}를 입력하셨습니다.".format(num, result, temp)) # 정답 1
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다.") 정답 2

정수를 입력하세요:915
입력하신 수는 915, 2로 나눈 나머지는 1라서 홀수를 입력하셨습니다.
입력하신 수는 915, 2로 나눈 나머지는 1라서 홀수를 입력하셨습니다.

In [19]:
# quiz2. 정수를 입력받아 5의 배수인지 여부를 출력
num2 = int(input("정수를 입력해주세요:"))
result2 = num2 % 5 # -4, -3, -2, -1, 0, 1, 2, 3, 4
if result2:
    temp2 = "아닙니다."
else:
    temp2 = "맞습니다."
print("입력하신 숫자 {}를 5로 나누었을 때 나머지가 {}이기 때문에 5의 배수가 {}".format(num2, result2, temp2))

숫자를 입력해주세요:101
입력하신 숫자 101를 5로 나누었을 때 나머지가 1이기 때문에 5의 배수가 아닙니다.

In [62]:
# (강사님 풀이)
# quiz2.정수를 입력받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
if num%5: # 5로 나누었을 때 0이 아니면 True
    print("5의 배수가 아닙니다.")
else:
    print("5의 배수입니다.")

정수를 입력하세요:11
5의 배수가 아닙니다.

In [63]:
# quiz3.국어 영어 수학 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오.
# 국어:99, 영어:100, 수학:99, 총점:298, 평균:99.3

a = 99    # 점수를 받아적어서 출력해야 하는 조건이 있기 때문에 input 함수를 사용했어야 함
b = 100   # 점수를 받아적어서 출력해야 하는 조건이 있기 때문에 input 함수를 사용했어야 함
c = 99    # 점수를 받아적어서 출력해야 하는 조건이 있기 때문에 input 함수를 사용했어야 함
total = a + b + c   # a, b, c 이런 형식으로 사용하는 것은 가독성 및 여러 사람이 보기에 좋지 않음
average = (a + b+ c)/3
ave = "{:.1f}".format(average)

print("국어:  {}\t영어:{}\t수학: {}".format(a, b, c))
print("총점: {}\t평균: {}".format(total, ave))



# print("국어:", a, "영어:", b, "수학:", c, sep='\t')
# print("총점:", total, "평균: ", "{:.1f}".format(average), sep='\t')

국어:  99	영어:100	수학: 99
총점: 298	평균: 99.3

In [3]:
# (강사님 풀이) 
# quiz3.국어 영어 수학 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 국어:99, 영어:100, 수학:100, 총점:299, 평균:99.7

kor = int(input("국어?"))
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum / 3

국어?99
영어?100
수학?100

In [9]:
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}".format(kor, eng, mat))
print("총점 : {:3d}\t평균 : {:5.1f}".format(sum, avg))

국어 :  99	영어 : 100	수학 : 100
총점 : 299	평균 :  99.7

## 5.2 할당연산자 : =,+=, -=, /=, *=, //=, %=

In [68]:
# a = b = 10 #잘 사용하지 않음 (할당연산자는 오른쪽에서 부터 할당시작함. 즉 b=10 부터 시작)
a = 10
a += 5 # a = a + 5와 동일
print(f"a = {a}")

a = 15

In [69]:
a -= 5 # a = a - 5
print("5빼기 :", a) # 10
a *= 10 # a = a*10
print("10배 :", a) # 100
a //= 5 # a = a//5
print("5나눈 몫 :", a)

5빼기 : 10
10배 : 100
5나눈 몫 : 20

## 5.3 논리연산자 : &, and, |, or, not

In [76]:
# & : 논리연산자, 비트연산자
print((10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트 연산 1 1 0 0 (12)
                     #   0 0 0 1  (1)
                     # &:0 0 0 0

True
0

In [87]:
# and : 논리연산자. False로 판별되는 첫번째 항의 결과 반환.
        ## 모든 항이 True면, 마지막항의 결과 반환
print((10>3) and (10>5))
print(0 and 1)

True
0

In [91]:
# | : 논리연산, 비트연산
result = True | False
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 (0)
                   # 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [93]:
# or : 논리연산. 참으로 판별되는 첫번째 항의 결과 반환
        # 모든 항이 거짓이면 마지막항의 결과 반환
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [94]:
not 10>5

False

## 5.3 비교연산자: >, >=, <, <=, ==(같다), !=(다르다)

In [97]:
# 비교연산자는 이항(2개의 항), 삼항, 사항, ... 다항연산자
x = 95
print((90<=x) & (x<=100))
print(90 <= x <=100)
print(90 <= x <=100 > 10)

True
True
True

In [99]:
# 비교연산자의 우선순위가 비트연산자(|,&)의 우선순위보다 낮다
print( (10>5) & (10>7))
print( 10>5 & 10>7 ) # 괄호가 없으면 우선순위가 높은 5&10(비트연산자)부터 실행
print( 10 > 0 > 7 )
# 0101(5) & 1010(10)

True
False
False

In [104]:
address = "목동"
age = 29
print( (address=="목동") & (age < 30) )
print( address=="목동" and age < 30 )

True
True

In [109]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
"scott" < "tiger"

True

In [108]:
"김길동" < "홍길동"

True

## 5.5 비트연산 : &, |, ^(XOR), ~(반대), 

```

x y x&y x|y x^y ~x
----------------------
0 0  0   0   0   1
0 1  0   1   1   0
1 0  0   1   1   0
1 1  1   1   0   1

```

In [12]:
a = 15 # 1111 (8+4+2+1)
b =  2 # 0010 (2)
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))
print(" ~a = {0:2} : {0:04b}".format(~a))  #몰라도 상관없음??

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
 ~a = -16 : -10000

# 6절 문자열 다루기 (자바, C언어 모두 비슷함)
- 문자열변수[form:to:step] : 일부 문자 추출
- len(문자열변수) : 문자개수

- upper() : 모든 문자를 대문자로 바꿔줌
- lower() : 모든 문자를 소문자로 바꿔줌
- title() : 각 어절의 앞글자만(첫글자) 대문자로 바꿔줌
- capitalize() : 첫문자만 대문자로 바꿔줌
- count("찾을문자") : "찾을문자"가 몇개 들어있는지 갯수를 변환함
- find("찾을문자") : "찾을문자"가 왼쪽부터 몇번째에 있는지 index를 반환함(문자가 없으면 -1 반환)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째에 있는지 index를 반환함

     cf. index("찾을문자") : 찾을문자가 왼쪽부터 몇번째에 있는 index를 반환(문자가 없으면 에러를 반환)

- startswith("특정문자") : "특정문자"로 시작하는지 여부를 True/False 값으로 반환함
- endswith("특정문자") : "특정문자"로 끝나는지 여부를 True/False 값으로 반환함 

- strip() : 좌우 공백을 제거함(다른언어에서는 trim으로 사용함)
- lstrip() : 왼쪽(left) 공백 제거함
- rstrip() : 오른쪽(right) 공백 제거함
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환함
- isdigit() : 문자열이 숫자열인지 문자열인지 여부를 반환함 (숫자면 True, 아니면 False)
- islower() : 문자열이 소문자인지 여부를 반환함 (소문자면 True, 아니면 False)
- isupper() : 문자열이 대문자인지 여부를 반환함 (대문자면 True, 아니면 False)

- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [16]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [22]:
temp = "python is easy. Python is smart. python"
      # 012345678901234567890123456789012345678
print(" 1. 대문자로 :", temp.upper())
print(" 2. 소문자로 :", temp.lower())
print(" 3. title() :", temp.title())
print(" 4. capitalize() :", temp.capitalize())
print(" 5. C가 몇번 나오는지 :", temp.count("C"))
print(" 6. python이 몇번 나오는지 :", temp.count("python"))
print(" 7. 대소문자 구분없이 python이 몇번 나오는지 :", temp.lower().count("python"))
print(" 8. 대소문자 구분없이 python이 몇번 나오는지 :", temp.upper().count("PYTHON"))
print(" 9. 대소문자 구분없이 python이 몇번 나오는지 :", temp.title().count("Python"))
print("10. pyton이 나오는 첫 index 위치 :", temp.find("python"))
print("11. pyton이 나오는 마지막 index 위치 :", temp.rfind("python"))
print("12. c가 나오는 index 위치 :", temp.find("c")) # 찾는 문자가 없을 경우 -1로 나타남
print("13. python이 나오는 첫 index 위치 :", temp.index("python"))
# print("java가 나오는 첫 index 위치 :", temp.index("java")) #찾는 문자가 없을 경우 에러가 발생
print("14. python으로 시작하는 여부 :", temp.startswith("python"))
print("15. 대소문자 구분없이 python으로 시작하는 여부 :", temp.lower().startswith("python"))
print("16. python으로 끝나는지 여부 :", temp.endswith("python"))
print("17. n으로 끝나는지 여부 :", temp.endswith("n"))
print("18. python을 R로 변경 :", temp.replace("python", "R"))

 1. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
 2. 소문자로 : python is easy. python is smart. python
 3. title() : Python Is Easy. Python Is Smart. Python
 4. capitalize() : Python is easy. python is smart. python
 5. C가 몇번 나오는지 : 0
 6. python이 몇번 나오는지 : 2
 7. 대소문자 구분없이 python이 몇번 나오는지 : 3
 8. 대소문자 구분없이 python이 몇번 나오는지 : 3
 9. 대소문자 구분없이 python이 몇번 나오는지 : 3
10. pyton이 나오는 첫 index 위치 : 0
11. pyton이 나오는 마지막 index 위치 : 33
12. c가 나오는 index 위치 : -1
13. python이 나오는 첫 index 위치 : 0
14. python으로 시작하는 여부 : True
15. 대소문자 구분없이 python으로 시작하는 여부 : True
16. python으로 끝나는지 여부 : True
17. n으로 끝나는지 여부 : True
18. python을 R로 변경 : R is easy. Python is smart. R

In [36]:
temp = "    python is easy   "
notdigit = "1,000"
print("  좌우 공백 제거 : [{}]".format(temp.strip()))
print("  왼쪽 공백 제거 : [{}]".format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace후 isdigit :", notdigit.replace(",", "").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

  좌우 공백 제거 : [python is easy]
  왼쪽 공백 제거 : [python is easy   ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
replace후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [41]:
names = "홍길동 김길동     박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names를 분리(list로 반환) :", name_list)
print()
print(name_list[0], name_list[1])

space단위로 names를 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']

홍길동 김길동

In [44]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("  월 :", date_list[1])
print("  일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
  월 : 09
  일 : 17

In [4]:
# ' - '을 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG) "
# temp.replace(" - ", "/")
# split()와 join() 이용하여 replace역할을 대신하는 방법
splited_temp = temp.split(" - ")
# print(splited_temp)
print('분리된 temp :', splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매개변수 list를 연결
print("join temp :", joined_temp)

분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG) ']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML(M/DNN/CNN/RNN)/LLM(RAG)

In [5]:
# 문자열을 다룰 수 있는 함수 목록을 확인하는 방법
# temp = "a"
3 dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
int(1,000)

TypeError: int() can't convert non-string with explicit base

In [5]:
int("1,000".replace(",", ""))

1000

# 7절. 시간, 날짜 다루기

## 7.1절 시간 및 날짜

In [6]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [7]:
# datetime모듈(datetime.py)안의 class 중에 datetime, date, time 만 load해서 메모리에 올려 두겠다.
from datetime import datetime, date, time

In [13]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [17]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday)) # 자주 사용하지 않는 형식
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 convert (변환. 한국스타일은 아님)

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [19]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%y년%m월%d일 %p %I:%M:%S"))

2025-09-17 14:25:03.575488
Wed Sep 17 14:25:03 2025
25년09월17일 PM 02:25:03

In [22]:
diff = now - thatday
print(diff)
print(diff.days)

6 days, 4:55:03.575488
6 days

## 7.2 날짜

In [28]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11)
someday

datetime.date(2025, 9, 11)

In [32]:
print(someday)
print(someday.strftime("%y년 %m월 %d일 %H:%M:%S"))

2025-09-11
25년 09월 11일 00:00:00

In [37]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [39]:
print(today1.strftime("%Y년 %m월 %d일 %H:%M"))

2025년 09월 17일 00:00

In [42]:
diff = someday - today1
print(diff)
print(diff.days) # 일 숫자만 나타내고 싶을때 사용

-6 days, 0:00:00
-6

## 7.3 시간

In [45]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [47]:
print(t.strftime("%p %I:%M"))
print(t.strftime("%Y년 %m월 %d일 %p %I:%M")) # 이상한 날짜가 나타남. 그래서 사용하면 안됨

PM 02:39
1900년 01월 01일 PM 02:39

In [48]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:33.824408

# 8절. 연습문제

In [54]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23 살입니다]

name = "홍길동"
age = 23

print("출력형식 :", "[{}님의 나이는 {}살입니다.]".format(name, age))
print("출력형식 :", f"[{name}님의 나이는 {age}살입니다.]")

출력형식 : [홍길동님의 나이는 23살입니다.]
출력형식 : [홍길동님의 나이는 23살입니다.]

In [50]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

num1 = int(input("첫 번째 정수를 입력하세요 "))
num2 = int(input("두 번째 정수를 입력하세요 "))

plus = num1 + num2
diff = num1 - num2
mult = num1 * num2
shar = num1 / num2
qout = num1 // num2
rema = num1 % num2

print(num1, num2)
print("덧셈 :"+ str(plus), "뺄셈 :"+ str(diff), "곱셈 :"+ str(mult), "나눗셈 :"+ str(shar), "몫 :"+ str(qout), "나머지 :"+ str(rema), sep="\n")

첫 번째 정수를 입력하세요 10
두 번째 정수를 입력하세요 0

ZeroDivisionError: division by zero

In [20]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 
# ‘Hello World'가 할당된 변수를 이용하여 ‘World Hello'로 출력하세요

word = 'Hello World'

splited_word = word.split()
print(splited_word)
print(splited_word[1], splited_word[0])

['Hello', 'World']
World Hello

In [52]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'
print(x[1] + x[2] + x[3] + x[4] + x[5] + x[0])
print(x[1:]+x[0])

bcdefa
bcdefa

In [12]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'

print(x[::-1])

fedcba

In [49]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
# 씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
# 우 소수점을 출력하지 않도록 합니다 (다음은 섭씨와 화씨의 변환 공식입니다 . 
# (C 는 섭씨 ,F 는 화씨)

# C = (F-32) / 1.8  #섭씨
# F = (C*1.8) + 32  #화씨


c= float(input("오늘의 온도는 섭씨 몇 도 입니까? "))
f = (cc*1.8) + 32
print(type(f))
print(f)
print("오늘의 온도는 화씨 {0:4.2f}도입니다.".format(f))

# 답안지 : 
# if f%1==0:
    # print("입력하신 섭씨 {}도는 화씨온도 {:.0f}도입니다.".format(c, f))
# else:
    # print("입력하신 섭씨 {}도는 화씨온도 {:.2f}도입니다.".format(c, f))

오늘의 온도는 섭씨 몇 도 입니까? 30
<class 'float'>
86.0
오늘의 온도는 화씨 86.00도입니다.

In [ ]:
# 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# 정답 : 1,2,3
① for  # 예약어을 변수로 사용할 수 없음
② 10th # 변수의 시작을 숫자로 할 수 없음
③ Student.name # 변수의 특수문자는 "_"만 사용가능. "."사용 불가
④ _1234 # 변수 선언 가능

In [49]:
# 8. 다음의 코드의 실행결과는?

text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])
    ## text[:4] = Seou
    ## text[-1] = n
    ## text.split()[0] = Seoul
    
# 정답 : SeounSeoul
# 정답 : [Seou, n, Seoul]

In [ ]:
# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
# 정답 : 2
① 수식 8//2 결과 4 
② 수식 8/2 결과 4   # "/"(나숫셈) 연산자는 실수로 인식되어서 4.0으로 출력됨
③ 수식 8 **2 결과 64

In [37]:
# 10. 아래 프로그램의 결과는?
#x = 5
#y = "John"
#print(x + y)
# 정답 : 숫자열과 문자열의 연산이 되어서 error 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
# 11. split() 함수를 이용하여 str_ 의 값 중 "나라" 를 출력하는 프로그램을 완성하시오.
# str_ = "우리 나라 대한 민국"

str_ = "우리 나라 대한 민국"
print(str_.split()[1])

나라