In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch03. 데이터 구조</font></b>
- 리스트[1,"2"], 튜플(1,2), 딕셔너리{"name":"홍","score":99}, 셋{10,20}

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수를 이용할 수도 있다
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋을 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [8]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0] = 'banana'
print(fruits[1:3])

['apple', 'orange']

In [9]:
print(fruits)
print(fruits[1]) # 인덱싱을 이용한 읽기

['banana', 'apple', 'orange', 'grape']
apple

In [10]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")

x=mango
y=apple

In [21]:
# range(from, to, by) : frome부터 to 앞까지 by씩 증가하는 나열 가능한 자료를 만들어 줌
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0으로 간주, by 생략시 1로 간주(1이 아니면 생략할 수 없음), to는 생략할 수 없음
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [30]:
for i in [0,1,2]:
    print(i)

0
1
2

In [31]:
for i in range(3):
    print(i)

0
1
2

In [4]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [5]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for idx in range(len(fruits)):   # 없어 보이는 방식
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [8]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [9]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [10]:
for i, fruit in enumerate(fruits): # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [12]:
for fruit in fruits: # ['mango', 'apple', 'orange']
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [20]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]  # 리스트 속의 리스트의 특정 인덱스 위치 값을 찾을 수 있다.

('2', 5)

In [21]:
# 2차원 데이터
numbers = [1, 2, 3, 4, 5]
          #0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],      #0행
              [10,20,30,40,50], #1행 
              [1,3,5,7,9],      #2행
              [2,4,6,8,10]]     #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [22]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [26]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [32]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [38]:
for i in range(len(numbers_2d)): # i : 행의 개수
    for j in range(len(numbers_2d[i])): # j : 열의 개수
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [36]:
print(len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2]))

4 5 5 5

In [40]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [42]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본정보 조회

In [48]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [49]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [50]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트들 중 첫 요소가 가장 작은값/큰값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [51]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용
fruits = ['mango', 'apple', 'orang']
min(fruits), max(fruits)

('apple', 'orang')

In [57]:
# 정렬하기
numbers = [1,12,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `expend()` : 리스트를 요소별로 맨 뒤에 추가 (많이 사용함)
- `insert(idx, 값)` : 'idx'번째 인덱스 위치에 '값' 추가

In [59]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [60]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [67]:
numbers.append([5,6,7]) # 리스트 자체가 추가 됨
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [69]:
numbers = [1, 2, 3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6을 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [71]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [72]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [73]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [74]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') # 1번째 인덱스에 'xx'추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환(위치 반환)
                     데이터가 없으면 오류가 발생함
- 찾을데이터 in list 변수 : 찾을데이터가 리스트 변수의 요소인지 여부를 확인
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수 반환

In [3]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [78]:
numbers.count(5)

0

In [79]:
print(2 in numbers) # 2가 numbers의 요소인지 여부
print(5 in numbers) # 5가 numbers의 요소인지 여부

True
False

In [80]:
numbers.index(2)

1

In [81]:
numbers.index(5)  # 인덱스 5는 존재하지 않기 때문에 오류 발생

ValueError: 5 is not in list

In [90]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [95]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [17]:
def safe_index(lst, item):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [18]:
safe_index(numbers, 5)

-1

In [4]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 import
numbers = [1, 2, 3]
safe_index(numbers, 3), safe_index(numbers, 5)

(2, -1)

In [6]:
numbers[5] # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [9]:
numbers[1:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[2, 3]

## 1.5 원하는 요소 추출하기 (슬라이싱)
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step식 증가하는 index값을 추출
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
      
2. <b><font size="3" color="red">**리스트컴프리헨션**</font></b> : 원하는 조건의 데이터 추출

In [12]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 거꾸로 출력
print(numbers[0::2]) # 짝수 번째 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [14]:
# 모든 데이터 출력
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2 == 0:
#        print(data, end=' ')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [18]:
# ex1. numbers에서 10이상인 요소만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [35]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [36]:
# ex2-1 fruits 리스트의 과일 글자수
print(len(fruits[0]), len(fruits[1]), len(fruits[2]), len(fruits[3]))
[len(fruit) for fruit in fruits]

6 5 5 4

[6, 5, 5, 4]

In [30]:
# ex3. 3이상인 요소들의 제곱을 추출 하시오
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [31]:
# ex4. 리스트 요소의 값의 2배를 추출 (2,4,6,8,10)
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [40]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx',]
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print("수정전 :", numbers)
numbers[::2] = [9,9,9,9,9]
print("수정후 :", numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [46]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제(삭제 되는 변수 정보가 반환은 안됨)

In [50]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 후 :", numbers)
print("dell numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 : [3, 4]
dell numbers[1]
[3]

In [51]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다.")

해당 데이터는 없는 item입니다.

In [52]:
numbers.clear() # 모든 요소를 삭제. 'numbers'자체는 삭제 하지 않음.
numbers

[]

## 1.8 정렬하기
- sort(): 리스트의 내용을 정렬시켜서 반환
- sorted(): 리스트의 내용을 변경하지 않음. 정렬된 결과 값만 반환

In [53]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [55]:
numbers.sort() # 오름차순으로 numbers 자체가 바뀜
numbers

[0, 5, 6, 8, 9]

In [56]:
numbers.sort(reverse=True) # 내림차순으로 numbers 자체가 바뀜
numbers

[9, 8, 6, 5, 0]

In [57]:
numbers.reverse() # 리스트들의 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [59]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2914270380560, 복사본주소=2914270380560
원본i = 10, 복사본cp_i=99 / 원본주소=2914270380560, 복사본주소=2914270383408

In [63]:
# 데이터 구조의 복제
numbers = [5, 6, 1, 9]
new_numbers = numbers
print('원본 주소   :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print('원본 내용   :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소   :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소   : 2914392003776
복제본 주소 : 2914392003776
원본 내용   : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소   : 2914392003776
복제본 주소 : 2914392003776

In [64]:
# 할당 (이렇게 하면 원본 내용도 모두 변경됨)
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원본 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본   : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소   : 2914390578752
복제본 주소 : 2914390578752

In [67]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원복 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))
new_numbers.sort()
print()
print("new_numbers를 sort() 한 후 ")
print()
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원복 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본   : [5, 6, 1, 9]
복제본 : [5, 6, 1, 9]
원복 주소   : 2914357659776
복제본 주소 : 2914392888064

new_numbers를 sort() 한 후

원본   : [5, 6, 1, 9]
복제본 : [1, 5, 6, 9]
원복 주소   : 2914357659776
복제본 주소 : 2914392888064

In [68]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원본 주소   :", id(numbers))
print("복사본 주소 :", id(new_numbers))

원본   : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소   : 2914394698880
복사본 주소 : 2914394700992

In [69]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [70]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용이다. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서는 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ( )이용해서 생성

In [72]:
# city = ('서울', '대전', '대구', '부산', '하남', '수원', '제주')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울', '대전', '대구', '부산', '하남', '수원', '제주'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [73]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용
", ".join(city)

'서울, 대전, 대구, 부산, 하남, 수원, 제주'

In [77]:
from lst import safe_index
safe_index(city, '제주')

6

In [78]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [81]:
city = ('서울') # 요소가 하나 있는 튜플 : 튜플이 아니다 -> str 이다
print(type(city))
print(city)
print(len(city)) # 서울이 2개의 글자라는 의미

<class 'str'>
서울
2

In [ ]:
city = ('서울', ) # 요소가 하나 있는 튜플 : ,를 꼭 추가 해줘야 한다
print(type(city))
print(city)
print(len(city))

In [82]:
city2 = ('서울', '하남') # 요소가 2개 있는 튜플
print(type(city2))
print(city2)
print(len(city2)) # 서울, 하남 즉 2개의 튜플이 존재한다는 의미

<class 'tuple'>
('서울', '하남')
2

In [90]:
numbers = (1, 2, 3)
# nubers.append(4) 수정하기 위한 함수는 제공되지 않음

In [85]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [86]:
numbers.count(2)

1

In [87]:
numbers.index(3)

2

In [92]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print("해당 데이터 없음")

해당 데이터 없음

In [10]:
numbers = (1, 4, 3, 2)
if 4 in numbers[2:]:
    numbers.index(4, 2) # index(찾을데이터, 찾기시작할index=0)
else:
    print("데이터가 없습니다.")

데이터가 없습니다.

In [17]:
def safe_index(lst, item, start=0):
    """
    첫번째 매개변수 lst  : 나열가능한 변수. 리스트, 튜플
    두번째 매개변수 item : 리스트나 튜플에서 찾을 데이터
    세번째 매개변수 start: 몇번째 index 부터 찾을지 index 수 (기본값:0)
    """
    return lst.index(item, start) if item in lst[start:] else -1

#     if item in lst[start:]:
#         return lst.index(item, start) #start번째 부터 item이 있는 index를 반환
#     return -1

In [20]:
safe_index(numbers, 3, 2)

2

In [16]:
# 위의 if문을 조건식을 이용하여 한줄 코드
def diff(x, y):
    return x-y if x>y else y-x # if문이 참일 때 취할 값 if 조건 else if문이 거짓일 때 취할 값
#    if x > y:
#        return x-y
#    else:
#        return y-x
diff(10, 20)

10

In [21]:
numbers = (1, 2, 3)
print(numbers + numbers) #연결
print(3 * numbers) #반복
print(numbers * 3) #반복

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오.
numbers = (1, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2==0)

(4, 16, 36)

# 3절. 딕셔너리
- { }를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값을 가져야 함(중복 불가).
- 키에 list는 사용 불가. 키에 tuple은 사용 가능. 키는 대부분 문자를 사용함
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안 함

In [27]:
dic = {'name':'홍길동', 1:22, (1, 2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [28]:
len(dic) #데이터 요소의 갯수 확인.

3

In [29]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [31]:
# 변수(키) / 변수.get(키)
print(my_favorite['fruit'])
print(my_favorite.get('fruit'))

apple
apple

In [34]:
# print(my_favorite['peple']) # 키 목록에 없는 데이터를 입력하면 오류 발생
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None 출력.
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'를 출력

None
-

## 딕셔너리 item 수정, 추가, 삭제

In [53]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
# 추가
my_favorite['people'] = '홍길동'
print(my_favorite.get('people'))
print("people 추가후 :", my_favorite)

# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학', 'major':'AI'})
print("한꺼번에 추가후 :", my_favorite)

# 한 item씩 수정하기
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print("하나씩 수정후 :", my_favorite)

# 여러 item을 한번에 수정하기
# my_favorite.update({'fruit':'kiwi', 'number': -99})
my_favorite.update(fruit='kiwi2', number=-999)
print("한꺼번에 수정후 :", my_favorite)

# item 제거
if 'subject' in my_favorite:
    del my_favorite['subject'] # subject item 제거
else:
    print("키가 존재하지 않습니다.")
print("del로 제거(1)후 :", my_favorite)

# item 제거 (2)
print("제거한 데이터1 :", my_favorite.pop('major')) # major키 값을 반호나하고 제거
if 'major' in my_favorite:
    print("제거한 데이터2 :", my_favorite.pop('major'))
else:
    print("키가 존재하지 않습니다.(2)")
print(my_favorite)

홍길동
people 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동'}
한꺼번에 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정후 : {'fruit': 'kiwi2', 'number': -999, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
del로 제거(1)후 : {'fruit': 'kiwi2', 'number': -999, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터1 : AI
키가 존재하지 않습니다.(2)
{'fruit': 'kiwi2', 'number': -999, 'sport': 'yoga', 'people': '홍길동'}

## 출력하기

In [54]:
# for 문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [60]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end="\t")
#    print(idx, "번째 :", my_tuple[idx], sep='', end='\t')
print() # 개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [79]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [69]:
for key in my_dic: #비추 
    print("{} : {}".format(key, my_dic[key]), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [70]:
my_dic.keys() # 키 목록만 추출할 수 있다

dict_keys(['name', 'age', 'tel'])

In [71]:
my_dic.values() # 값 목록만 추출할 수 있다

dict_values(['홍길동', 30, '010-9999-9999'])

In [72]:
my_dic.items() # 키-값 쌍으로 목록을 추출할 수 있다.

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [74]:
for key, value in my_dic.items():
    print("{} : {}".format(key, value), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [76]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	30	010-9999-9999

In [81]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [86]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}.{} : {}".format(no+1, key, value))

1.name : 홍길동
2.age : 30
3.tel : 010-9999-9999

## 연산자

In [87]:
# tuple, list
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in 연산자 : 요소(데이터, 자료, item)가 있는 여부 반환

True

In [90]:
# dictionary(딕셔너리)
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환
                # '홍길동'은 value 값이기 때문에 False

False

In [91]:
'홍길동' in dic.values() # value 값으로 확인 하고 싶다면 value() 함수를 사용해야 한다.

True

## 복제하기

In [92]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print("my_favorite 주소 : ", id(my_favorite))
print("new_favorite 주소 :", id(new_favorite))

my_favorite 주소 :  2784961743936
new_favorite 주소 : 2784961743936

In [93]:
new_favorite['fruit'] = "과일은 다 좋아"
new_favorite['people'] = '손흥민'
print("  원본 :", my_favorite)
print("복사본 :", new_favorite)

  원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '손흥민'}
복사본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '손흥민'}

In [94]:
# 복제하기(깊은 복제)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print("my_favorite 주소 : ", id(my_favorite))
print("new_favorite 주소 :", id(new_favorite))
new_favorite['fruit'] = "과일은 다 좋아"
new_favorite['people'] = '손흥민'
print("  원본 :", my_favorite)
print("복사본 :", new_favorite)

my_favorite 주소 :  2784961744512
new_favorite 주소 : 2784961741696
  원본 : {'fruit': 'apple', 'number': 12}
복사본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '손흥민'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서 없음 == index가 없음)
- { }나 set() 함수를 이용해서 셋 생성 ex) set([1, 2, 3]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove()
- 집합연산자 : &-교집합, |-합집합, -차집합

In [ ]:
st = {'name':'홍길동', 'age':30} # 딕셔너리
se = {'홍길동', 30} # 셋

In [97]:
fruits = {'banan', 'orange', 'apple', 'apple'}
fruits

{'apple', 'banan', 'orange'}

In [98]:
s1 = set([1,2,3,1,1,1,1,1,1,1,1,1,1,1,])
s1

{1, 2, 3}

In [99]:
s1 = set((1,2,3,1,1,1,1,1,1,1,1,1,1,1,))
s1

{1, 2, 3}

In [100]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 대는 key만 적용. list의 expend() 역할
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
- add( ) : 기본자료형, 튜플데이터 하나 추가. list, dic, set유형은 add()함수를 사용할 수 없음
- update( ) : 리스트, 튜플, 딕셔너리, 셋 요소. dictionaly 사용시 key만 추가 됨.
- set()은 순서가 없기 때문에 요소를 추가 하면 순서는 랜덤으로 정렬 된다.

In [106]:
s = {1, 2, 3}
s.add(4)
s.add('오')
s.add((6,7))
print("add() 후: ", s)

add() 후:  {1, 2, 3, 4, (6, 7), '오'}

In [120]:
# 1이 set에 있는 상태에서 True 추가
s = {1, 2, 3, 1, 1}
s.add(True)
print("True add후 :", s)

True add후 : {1, 2, 3}

In [121]:
# 0이 set에 있는 상태에서 False 추가
s = {False, 1, 2}
s.add(0)
print("0을 add 후 :", s)

0을 add 후 : {False, 1, 2}

In [117]:
s = {1, 2, 3}
# s.update([4,5,6])
# s.update((4,5,6))
s.update({4,5,6})
s.update({'name':'홍길동'})
print("update 후:", s)

update 후: {1, 2, 3, 4, 5, 6, 'name'}

## 삭제하기(제거하기)
- remove( )사용
- 없는 요소를 삭제할 경우 Error 발생함

In [122]:
s = {1,2,3,1,1}
s.remove(2)
s

{1, 3}

In [123]:
s.remove(5) # 없는 요소를 삭제할 경우 Error 발생함

KeyError: 5

In [126]:
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터가 없습니다.")

해당 데이터가 없습니다.

## 집합연산자
    &(교집합), |(합집합), -(차집합)

In [130]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print("s1    =", s1)
print("s2    =", s2)
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)
print("s2-s1 =", s2-s1)

s1    = {1, 2, 3, 4, 5}
s2    = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [147]:
names = {'길동', "길숙", "길자"} #index가 없어서 순서 없이 나열됨.
for name in names:
    print(name)

길동
길숙
길자

# 5절. enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [148]:
list(enumerate(names))

[(0, '길동'), (1, '길숙'), (2, '길자')]

In [150]:
for no, name in enumerate(names):
    print(f"{no+1}. {name}")

1. 길동
2. 길숙
3. 길자

In [171]:
names = ['길동', "길자", "길숙"]
tels = ['02-999-9999', '02-888-9999', '02-777-7777']
adds = ['서울', '판교', '하남']

In [172]:
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요.".format(idx+1,
                                              names[idx],
                                              tels[idx],
                                              adds[idx]))

1. 길동님의 연락처는 02-999-9999이고, 서울 살아요.
2. 길자님의 연락처는 02-888-9999이고, 판교 살아요.
3. 길숙님의 연락처는 02-777-7777이고, 하남 살아요.

In [174]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-9999', '판교'),
 ('길숙', '02-777-7777', '하남')]

In [175]:
for name, tel, add in zip(names, tels, adds):
    print("{}님의 연락처는 {}이며, {}에 살아요".format(name, tel, add))
#    print(f"{name}님의 연락처는 {tel}이며, {add}에 살아요")

길동님의 연락처는 02-999-9999이며, 서울에 살아요
길자님의 연락처는 02-888-9999이며, 판교에 살아요
길숙님의 연락처는 02-777-7777이며, 하남에 살아요

In [180]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {}님의 연락처는 {}이며, {}에 살아요".format(idx, name, tel, add))
#    print(f"{idx}. {name}님의 연락처는 {tel}이며, {add}에 살아요")

0. 길동님의 연락처는 02-999-9999이며, 서울에 살아요
1. 길자님의 연락처는 02-888-9999이며, 판교에 살아요
2. 길숙님의 연락처는 02-777-7777이며, 하남에 살아요

In [183]:
names = ['길동', "길자", "길숙"]
tels = ['02-999-9999', '02-888-9999', '02-777-7777']
adds = ['서울', '판교', '하남']
members = [] # 빈 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel': tel, 'add': add}
    print(member)
    members.append(member)
members # print로 출력해도 됨

{'name': '길동', 'tel': '02-999-9999', 'add': '서울'}
{'name': '길자', 'tel': '02-888-9999', 'add': '판교'}
{'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-9999', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [ ]:
names = ['길동', "길자", "길숙"]
tels = ['02-999-9999', '02-888-9999', '02-777-7777']
adds = ['서울', '판교', '하남']

In [2]:
names = ['길동', "길자", "길숙"]
tels = ['02-999-9999', '02-888-9999', '02-777-7777']
adds = ['서울', '판교', '하남']
members = [] # 빈 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1,'name': name, 'tel': tel, 'add': add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-9999', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절. 연습문제
## 실습형 연습문제

In [3]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1,2,3,4,5,6,7,8,9,10]

In [4]:
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [9]:
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
# data = [200, 300, 400, 500]
numbers = [1,2,3,4,5,6,7,8,9,10]
data = [200, 300, 400, 500]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]

In [16]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [17]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [2]:
# 5. 짝수번째 데이터를 모두 0 으로 바꾸세요
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[::2] = [0,0,0,0,0]
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [8]:
# 6. 데이터를 역순으로 나열하세요 (내림차순 정렬이 아닙니다)
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
# member_info = {"name":'홍길동', "age":20, "address":"서울시 마포구", "score":90}

# 7. address값을 출력하세요
member_info = {"name":'홍길동', "age":20, "address":"서울시 마포구", "score":90}
# 오답 if "address" in member_info.keys(): 
# 오답    print(member_info.values())
print('7번의 결과 :', member_info.get('address'))    # 정답

7번의 결과 : 서울시 마포구

In [23]:
# 8. score 를 출력하고 member_info 딕셔너리에서삭제하세요.
member_info = {"name":'홍길동', "age":20, "address":"서울시 마포구", "score":90}
if "score" in member_info:
    print("제거한 데이터 :", member_info.pop("score"))
else:
    print("해당 데이터가 없습니다.")
print(member_info)

제거한 데이터 : 90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [26]:
# 9. address를 “서울시 서대문구”로 변경하세요.
member_info = {"name":'홍길동', "age":20, "address":"서울시 마포구", "score":90}
member_info['address'] = "서울시 서대문구"
print(member_info)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

In [28]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
member_info = {"name":'홍길동', "age":20, "address":"서울시 마포구", "score":90}
list(member_info.values())

['홍길동', 20, '서울시 마포구', 90]

## 서술형 연습문제

In [37]:
# 1. 다음 코드를 실행했을때 출력되는것은?
L1 = ("orange", "apple", "banana", "kiwi") 
new_list = [i for i in L1 if len(i)>5]
print(new_list) 
# L1 튜플에서 5글자를 초과하는(6글자 이상) 데이터를 출력

['orange', 'banana']

In [32]:
# 2. 다음 코드와 실행결과가 잘못짝지어진것은? 2 
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [20]:
# 3. 다음구문에의해출력되는것은? 
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ] 
len(numbers_2d[3])
# numbers_2d 리스트에서 3번째 index의 요소 갯수 = 1

1

In [ ]:
# 4. 다음 코드의 실행결과가 나올수있는 빈칸에 들어갈 함수 이름은? 
numbers = [1,2,3,4,5] 
numbers.__________([10,20,30,40,50]) 
numbers
결과: [1,2,3,4,5,10,20,30,40,50]
# 정답 : extend

In [43]:
# 5. 다음 구문을 실행할때 결과는? 
numbers = list(range(10)) 
numbers[ : : 2]= [0] * len(numbers[ : : 2]) 
print(numbers)
# numbers[::2]= [0] -> 오류 출력
# len(numbers[::2]) -> 5
# [0]가 5개로 변경되어서 numbers 리스트의 짝수 index 요소들이 0으로 변경됨

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [7]:
# 6. 다음 구문을 실행할때 결과는? 
numbers = [0,1,2,3,4,5,6,7,8,9] 
numbers[::2] = numbers[5:] 
print(numbers)
# numbers[::2] -> 짝수 번째 index 요소들만 나열 numbers[::2]
# numbers[5:] -> 5번째 index에서 끝 index까지 나열 [5, 6, 7, 8, 9]
# ???

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [ ]:
# 7. 다음 구문을 실행할때 결과는? 
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
numbers[ : : 2]= numbers[:5] 
print(numbers)
# ???

In [15]:
# 8. 다음 데이터에서 10을 출력할수 없는 구문은? 
my_dic = {"a":10, "b":20, "c":30} 
#정답 1번

# ① my_dic [0] 
# ② my_dic [‘a’] 
# ③ list(my_dic.items())[0][1] 
# ④ list(my_dic.values())[0] 
# ⑤ my_dic.get(‘a’)

10

In [17]:
# 9. 다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange'] 
x, y, z = fruits 
print(x)
print(y)
print(z)

apple
banana
orange

In [18]:
# 10. 다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange'] 
print( len (fruits))
# fruits 리스트들의 요소 개수는 3개

3

In [ ]:
# 11. 파이썬에서 함수를 만들기위해 선언 하는단어는?
def

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     style="float:left"
     width="500">