In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch03. 데이터 구조</font></b>
- 리스트[1,"2"], 튜플(1,2), 딕셔너리{"name":"홍","score":99}, 셋{10,20}

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list()함수를 이용할 수도 있다
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋을 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [8]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0] = 'banana'
print(fruits[1:3])

['apple', 'orange']

In [9]:
print(fruits)
print(fruits[1]) # 인덱싱을 이용한 읽기

['banana', 'apple', 'orange', 'grape']
apple

In [10]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [14]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")

x=mango
y=apple

In [21]:
# range(from, to, by) : frome부터 to 앞까지 by씩 증가하는 나열 가능한 자료를 만들어 줌
        # 숫자를 순차적으로 사용할 수 있게
        # from 생략시 0으로 간주, by 생략시 1로 간주(1이 아니면 생략할 수 없음), to는 생략할 수 없음
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [30]:
for i in [0,1,2]:
    print(i)

0
1
2

In [31]:
for i in range(3):
    print(i)

0
1
2

In [4]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [5]:
fruits = ['mango', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))
for idx in range(len(fruits)):   # 없어 보이는 방식
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [8]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [9]:
for i, fruit in [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [10]:
for i, fruit in enumerate(fruits): # [(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [12]:
for fruit in fruits: # ['mango', 'apple', 'orange']
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [20]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]  # 리스트 속의 리스트의 특정 인덱스 위치 값을 찾을 수 있다.

('2', 5)

In [21]:
# 2차원 데이터
numbers = [1, 2, 3, 4, 5]
          #0열 1열 2열 3열 4열
numbers_2d = [[1,2,3,4,5],      #0행
              [10,20,30,40,50], #1행 
              [1,3,5,7,9],      #2행
              [2,4,6,8,10]]     #3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [22]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [26]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [32]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [38]:
for i in range(len(numbers_2d)): # i : 행의 개수
    for j in range(len(numbers_2d[i])): # j : 열의 개수
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [36]:
print(len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2]))

4 5 5 5

In [40]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [42]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본정보 조회

In [48]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
              [9,100,100],
              [59,100,130]]

In [49]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [50]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트들 중 첫 요소가 가장 작은값/큰값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [51]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min과 max적용
fruits = ['mango', 'apple', 'orang']
min(fruits), max(fruits)

('apple', 'orang')

In [57]:
# 정렬하기
numbers = [1,12,3,4,5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가

- `+` : 두 리스트 연결
- `*` : 리스트를 곱한 수만큼 반복
- `append()` : 요소 맨 뒤에 추가
- `expend()` : 리스트를 요소별로 맨 뒤에 추가 (많이 사용함)
- `insert(idx, 값)` : 'idx'번째 인덱스 위치에 '값' 추가

In [59]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [60]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [67]:
numbers.append([5,6,7]) # 리스트 자체가 추가 됨
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [69]:
numbers = [1, 2, 3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6을 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [71]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [72]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [73]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [74]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') # 1번째 인덱스에 'xx'추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- list변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환(위치 반환)
                     데이터가 없으면 오류가 발생함
- 찾을데이터 in list 변수 : 찾을데이터가 리스트 변수의 요소인지 여부를 확인
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수 반환

In [3]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [78]:
numbers.count(5)

0

In [79]:
print(2 in numbers) # 2가 numbers의 요소인지 여부
print(5 in numbers) # 5가 numbers의 요소인지 여부

True
False

In [80]:
numbers.index(2)

1

In [81]:
numbers.index(5)

ValueError: 5 is not in list

In [90]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [95]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다.')

5가 요소에 포함되지 않습니다.

In [17]:
def safe_index(lst, item):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst:
        return lst.index(item)
    return -1

In [18]:
safe_index(numbers, 5)

-1

In [4]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 import
numbers = [1, 2, 3]
safe_index(numbers, 3), safe_index(numbers, 5)

(2, -1)

In [6]:
numbers[5] # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [9]:
numbers[1:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[2, 3]

## 1.5 원하는 요소 추출하기 (슬라이싱)
1. 리스트 슬라이싱
    - [from:to:step] from번째부터 to앞까지 step식 증가하는 index값을 추출
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능
      
2. <b><font size="3" color="red">**리스트컴프리헨션**</font></b> : 원하는 조건의 데이터 추출

In [12]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 거꾸로 출력
print(numbers[0::2]) # 짝수 번째 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [14]:
# 모든 데이터 출력
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2 == 0:
#        print(data, end=' ')
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [18]:
# ex1. numbers에서 10이상인 요소만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [35]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [36]:
# ex2-1 fruits 리스트의 과일 글자수
print(len(fruits[0]), len(fruits[1]), len(fruits[2]), len(fruits[3]))
[len(fruit) for fruit in fruits]

6 5 5 4

[6, 5, 5, 4]

In [30]:
# ex3. 3이상인 요소들의 제곱을 추출 하시오
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

In [31]:
# ex4. 리스트 요소의 값의 2배를 추출 (2,4,6,8,10)
[data*2 for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [40]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [41]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx',]
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print("수정전 :", numbers)
numbers[::2] = [9,9,9,9,9]
print("수정후 :", numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [46]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제(삭제 되는 변수 정보가 반환은 안됨)

In [50]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 후 :", numbers)
print("dell numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 후 : [3, 4]
dell numbers[1]
[3]

In [51]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다.")

해당 데이터는 없는 item입니다.

In [52]:
numbers.clear() # 모든 요소를 삭제. 'numbers'자체는 삭제 하지 않음.
numbers

[]

## 1.8 정렬하기
- sort(): 리스트의 내용을 정렬시켜서 반환
- sorted(): 리스트의 내용을 변경하지 않음. 정렬된 결과 값만 반환

In [53]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers : [9, 5, 0, 8, 6]

In [55]:
numbers.sort() # 오름차순으로 numbers 자체가 바뀜
numbers

[0, 5, 6, 8, 9]

In [56]:
numbers.sort(reverse=True) # 오름차순으로 numbers 자체가 바뀜
numbers

[9, 8, 6, 5, 0]

In [57]:
numbers.reverse() # 리스트들의 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [59]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2914270380560, 복사본주소=2914270380560
원본i = 10, 복사본cp_i=99 / 원본주소=2914270380560, 복사본주소=2914270383408

In [63]:
# 데이터 구조의 복제
numbers = [5, 6, 1, 9]
new_numbers = numbers
print('원본 주소   :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print('원본 내용   :', numbers)
print('복제본 내용 :', new_numbers)
print('원본 주소   :', id(numbers))
print('복제본 주소 :', id(new_numbers))

원본 주소   : 2914392003776
복제본 주소 : 2914392003776
원본 내용   : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 주소   : 2914392003776
복제본 주소 : 2914392003776

In [64]:
# 할당 (이렇게 하면 원본 내용도 모두 변경됨)
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원본 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본   : [1, 5, 6, 9]
복제본 : [1, 5, 6, 9]
원본 주소   : 2914390578752
복제본 주소 : 2914390578752

In [67]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원복 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))
new_numbers.sort()
print()
print("new_numbers를 sort() 한 후 ")
print()
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원복 주소   :", id(numbers))
print("복제본 주소 :", id(new_numbers))

원본   : [5, 6, 1, 9]
복제본 : [5, 6, 1, 9]
원복 주소   : 2914357659776
복제본 주소 : 2914392888064

new_numbers를 sort() 한 후

원본   : [5, 6, 1, 9]
복제본 : [1, 5, 6, 9]
원복 주소   : 2914357659776
복제본 주소 : 2914392888064

In [68]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print("원본   :", numbers)
print("복제본 :", new_numbers)
print("원본 주소   :", id(numbers))
print("복사본 주소 :", id(new_numbers))

원본   : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소   : 2914394698880
복사본 주소 : 2914394700992

In [69]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [70]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용이다. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서는 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- ( )이용해서 생성

In [72]:
# city = ('서울', '대전', '대구', '부산', '하남', '수원', '제주')
# 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울', '대전', '대구', '부산', '하남', '수원', '제주'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [73]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용
", ".join(city)

'서울, 대전, 대구, 부산, 하남, 수원, 제주'

In [77]:
from lst import safe_index
safe_index(city, '제주')

6

In [78]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [81]:
city = ('서울') # 요소가 하나 있는 튜플 : 튜플이 아니다 -> str 이다
print(type(city))
print(city)
print(len(city)) # 서울이 2개의 글자라는 의미

<class 'str'>
서울
2

In [ ]:
city = ('서울', ) # 요소가 하나 있는 튜플 : ,를 꼭 추가 해줘야 한다
print(type(city))
print(city)
print(len(city))

In [82]:
city2 = ('서울', '하남') # 요소가 2개 있는 튜플
print(type(city2))
print(city2)
print(len(city2)) # 서울, 하남 즉 2개의 튜플이 존재한다는 의미

<class 'tuple'>
('서울', '하남')
2

In [90]:
numbers = (1, 2, 3)
# nubers.append(4) 수정하기 위한 함수는 제공되지 않음

In [85]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [86]:
numbers.count(2)

1

In [87]:
numbers.index(3)

2

In [92]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print("해당 데이터 없음")

해당 데이터 없음