In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch05. 함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수가 존재하지 않는다. 함수를 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2...
```
# 1절 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def my_message(x, msg): # msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 사용 == 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [6]:
# print('Hello') #파이썬 내장 함수(import하지 않고 기본적으로 사용할 수 있는 함수)
# print = 5
# print('Hello')

Hello

TypeError: 'int' object is not callable

In [8]:
del print
print('Hello')

Hello

In [9]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [10]:
my_message = 5
my_msg(2, 'Hello')

0 Hello
1 Hello

In [11]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [12]:
del my_message # 변수 및 함수 제거하여도
my_message(2, 'Hello') # 사용자 정의 함수, 라이브러리 함수는 del하여도 사용불가

NameError: name 'my_message' is not defined

In [13]:
# 함수 중복 정의 불가(오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt): # cnt번 출력
    for i in range(cnt):
        print('Hello, Python', end='\t')
        print('Hello, World')

In [14]:
my_hello()

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [15]:
my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [16]:
my_hello

In [17]:
__name__

'__main__'

In [18]:
if __name__ == '__main__':
    my_hello(2)

Hello, Python	Hello, World
Hello, Python	Hello, World

In [19]:
type(__name__)

str

In [2]:
import ch05 # ch05 모듈이 해석되서 메모리 로드 (if문을 넣지 않았을 때)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
import ch05

In [2]:
ch05.my_hello(2)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
from ch05 import my_hello # ch05모듈안의 my_hello 함수만 메모리 로드

In [2]:
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [4]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능을 가지고있음(함수 호출시 'shitf' + 'tab'x2 으로 독스트링을 볼 수 있음)
    """
    pass

In [ ]:
my_function()

In [5]:
my_function.__doc__

"\n    함수의 첫 라인에 독스트링을 포함할 수 있습니다.\n    독스트링은 함수의 설명서를 달아주는 역할\n    주석보다 많은 기능을 가지고있음(함수 호출시 'shitf' + 'tab'x2 으로 독스트링을 볼 수 있음)\n    "

In [6]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능을 가지고있음(함수 호출시 'shitf' + 'tab'x2 으로 독스트링을 볼 수 있음)

In [9]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8 
       n=100 : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print()

In [10]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [11]:
fibonacci(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

## 1.3 지역변수(local var)와 전역변수(global var)

In [16]:
global_var = 100 # 전역변수 (global 변수)
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [17]:
def func2():
    local_var = 200 # 지역변수 (local 변수 - 함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [18]:
# print('함수밖에서 지역변수 :', local_var) #에러발생

NameError: name 'local_var' is not defined

In [19]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수 (함수내에서 할당)
    print('지역변수 g_var 호출 :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var 호출 : 200
전역변수 g_var : 100

In [20]:
# 렉시컬(lexical) 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해진다(지역or전역)
g_var = 100 # 전역변수
def func3():
    print('지역변수 g_var 호출 :', g_var)
    g_var = 200 # 지역변수 (함수내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [22]:
# 렉시컬 특성에 따라서 
g_var = 100 # 전역변수
def func3():
    global g_var #함수내에서의 g_var는 전역변수를 쓰겠다.
    print('전역변수 g_var 호출 :', g_var)
    g_var = 200 # 지역변수 g_var에 200 할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var 호출 : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 'a' # 전역변수
id(foo)

2964436182832

In [31]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, 'f의 주소는 ', id(f))
    f = f*3
    print('After :', f, 'f의 주소는 ', id(f))
func1(foo)

Before : a f의 주소는  2964436182832
After : aaa f의 주소는  2964552456624

In [32]:
print('foo = ', foo, 'foo의 주소는 ', id(foo))

foo =  a foo의 주소는  2964436182832

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [34]:
L = [1, 2, 3, 4, 5]
id(L)

2964553574016

In [35]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f.append(6)
    print('After :', f, '의 주소는 ', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는  2964553574016
After : [1, 2, 3, 4, 5, 6] 의 주소는  2964553574016

In [36]:
print('L= ', L, "의 주소는 ", id(L))

L=  [1, 2, 3, 4, 5, 6] 의 주소는  2964553574016

# 2절. 함수의 실행결과를 반환하는 return

In [37]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a < n:
        print(a, end=' ') # 출력
        a, b = b, a + b
    print() # 개행
def fibonacci_return(n):
    "n미만의 피보나치수열을 리스트로 return"
    result = [] #피보나치수열을 append할 리스트
    a, b = 0, 1
    while a < n:
        result.append(a) # 리스트에 추가
        a, b = b, a+b
    return result

In [40]:
x = fibonacci_return(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [41]:
x = fibonacci_print(10)
print('x=', x)
print(type(x))

0 1 1 2 3 5 8
x= None
<class 'NoneType'>

### 여러개 값 return
- 여러개의 값을 갖는 튜플로 return

In [42]:
def swap(a, b):
    '매개변수 순서를 바꿔서 return'
    return b, a # return (b, a)

In [44]:
x=5; y=10
print('swpa 함수 실행 전 x, y= ', x,y)
x, y = swap(x, y)
print('swap 함수 실행 후 x, y= ', x,y)

swpa 함수 실행 전 x, y=  5 10
swap 함수 실행 후 x, y=  10 5

# 3절. 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [49]:
def make_url(ip, port=80): # 순서인수가 우선. 기본값을 갖는 매개변수는 마지막으로 가야함
    return "http://{}:{}".format(ip, port)

In [50]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [53]:
# def make_url(port=80, ip): # 순서인수 > 기본값을 갖는 매개변수 순으로 배치
#     return "http://{}:{}".format(ip, port)

SyntaxError: non-default argument follows default argument (1708684790.py, line 1)

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일때

In [54]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값으로 셋팅 됨(셋팅되고 변경되지 않음)
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [56]:
i = 90 # 위에서 i=80으로 먼저 셋팅되어서 이후에 i=90으로 변경하더라도 80으로 고정되어 있음
make_url("localhost")

'http://localhost:80'

In [57]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [58]:
print(func3(20))

[10, 20]

In [59]:
print("list_ =", list_)

list_ = [10, 20]

In [60]:
print(func3(50))

[10, 20, 50]

In [61]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))

[10]

In [62]:
print(func3(20))

[20]

In [64]:
print(func3(10, [1,2,3]))

[1, 2, 3, 10]

## 3.3 순서인수, 키워드인수 
- 순서인수 : 함수에 정의된 순서대로 매개변수를 전달하는 방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서가 중요하다. (순서인수 > 키워드인수 순으로)

In [65]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [66]:
lst = []
print(func3(10, lst)) # 순서인수 : 함수가 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 두개의 인수 모두 키워드인수 이다. # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플 매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [70]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [71]:
add(3, 5)

TypeError: add() missing 1 required positional argument: 'c'

In [80]:
# args앞에 * : args가 튜플로 전달받는다
def add(*args):
    # print('args =', args)
    '전달받은 매개변수들의 합을 return한다. 매개변수가 없는 경우 0을 return한다.'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [83]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1,2,3,4,5,6,7,8,9,10))

0
1
4
55

In [85]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [86]:
# 듀플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [87]:
concat('Python', 'web', 'JavaScript', 'DBMS', '-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [90]:
# 해결책1 # 매개변수 이름을 지정해서 호출
concat('Python', 'web', 'JavaScript', 'DBMS', sep='-')

'Python-web-JavaScript-DBMS'

In [94]:
# 해결책2 # 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Pyton', 'web', 'JS', 'DBMS'))
print(concat('Pyton', 'web', 'JS', 'DBMS', sep='-'))

Pyton ~ web ~ JS ~ DBMS
Pyton-web-JS-DBMS

In [95]:
print(concat('Pyton', 'web', 'JS', 'DBMS', sep='='))

Pyton=web=JS=DBMS

In [97]:
# 해결책3(추천) : sep을 순서인수로 앞으로 위치함
def concat(sep, *subject):
    return sep.join(subject)

In [98]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [99]:
make_url(ip="localhost", port=8080)

'http://localhost:8080'

In [118]:
# def func5(**args): # args : 딕셔너리로 전달 받음
#     print('이름 :', args.get('name', '몰라'))
#     print('나이 :', args.get('age', 30))
#     print('전화 :', args.get('tel', '없음'))
#     print('주소 :', args.get('address', '서울 관악'))

In [130]:
def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 서울시 관악구로 추가하고 키-값을 출력'''
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if문 True
        # args['address'] = '입력하지 않음'
        # args.update({'address':'데이터 없음'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [133]:
func5(name='홍길동',
      age=30,
      tel='010-1111-2222',
      #address='서울시 동작구',
      #width=300,
      #color='red'
     )

{'name': '홍길동', 'age': 30, 'tel': '010-1111-2222'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-1111-2222
address : 입력필요

In [115]:
func5()

{}
<class 'dict'>

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [134]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a =', a)
    print('순서인수 b =', b)
    print('튜플인수 c =', c)
    print('딕셔너리인수 d =', d)

In [135]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍', age=30, address='신림')

순서인수 a = 10
순서인수 b = 20
튜플인수 c = (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d = {'name': '홍', 'age': 30, 'address': '신림'}

In [137]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a =', a)
    print('순서인수 b =', b)
    print('순서인수 c =', c)
    print('튜플인수 d =', d)
    print('키워트인수(기본값 10) e =', e)
    print('딕셔너리인수 f =', f)

In [141]:
func7(10, 20, 30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워트인수(기본값 10) e = 10
딕셔너리인수 f = {}

In [142]:
func7(10, 20, 30, e=100)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워트인수(기본값 10) e = 100
딕셔너리인수 f = {}

In [145]:
func7(10, 20, 30, 40, shape='rect')

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (40,)
키워트인수(기본값 10) e = 10
딕셔너리인수 f = {'shape': 'rect'}

In [140]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, heigh=30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5)
키워트인수(기본값 10) e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'heigh': 30}

## 3.7 인수의 언패킹

### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 *붙임(튜플매개변수)

In [146]:
# 패킹
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [147]:
add(1,2,3)

6

In [149]:
# 언패킹
numbers = [1, 2, 3]
add(*numbers)

6

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수 앞에 **붙임(딕셔너리 매개변수)

In [150]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [151]:
func8(shape='rect', width=40, heigh=30)

{'shape': 'rect', 'width': 40, 'heigh': 30}
('shape', 'rect')
('width', 40)
('heigh', 30)

In [153]:
info = {'shape':'rect', 'width':40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절. 람다식
- return이 하나인 작은 익명함수

## 4.1 람다식 연습

In [3]:
def add(a, b):
    return a+b
print(add(3, 5))
print(type(add)) # add 함수의 타입 확인

8
<class 'function'>

In [4]:
add2 = lambda a, b : a + b
print(add2(3, 5))
print(type(add2))

8
<class 'function'>

In [14]:
# ex.1 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
#     return result
    return "홀수" if num%2 else "짝수"
even_odd_chk2 = lambda num : "홀수" if num%2 else "짝수"
even_odd_chk(5), even_odd_chk(4)

('홀수', '짝수')

In [25]:
# ex.2 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요
def dif(a, b):
    if a > b:
        result = a - b
    else:
        result = b - a
    return result

print(dif(1, 5))

4

In [19]:
dif2 = lambda a, b : a - b if a>b else b-a

In [20]:
dif2(10, 11)

1

In [27]:
# ex3. 매개변수로 잔액을 받아, 잔액이 0 이상이면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda doller : doller if doller>=0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [52]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
#      점수가 100점 초과나 0점 미만은 '유효하지 않음'을 return

# def test(score) :
#     if  score >= 80:
#         print("A팀")
#     elif score > 60:
#         print("B팀") 
#     elif score > 0:
#         print("재시험")
#     else:
#         return "유효하지 않음"

In [51]:
test(101)

B팀

In [ ]:
test2 = lambda score : score if score<=100

In [64]:
# (강사님 풀이)
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀', 60점 미만은 '재시험'
#      점수가 100점 초과나 0점 미만은 '유효하지 않음'을 return
def levelchk(score):
    if 80<=score<=100:
        return 'A팀'
    elif 60<=score<80:
        return 'B팀'
    elif 0<=score<60:
        return '재시험'
    else:
        return '유효하지 않음'
ex4 = lambda score : 'A팀' if 80<=score<=100 else \
                     'B팀' if 60<=score<80 else \
                    '재시험' if 0<=score<60 else \
                    '유효하지 않음'

In [65]:
ex4(-1), levelchk(8)

('유효하지 않음', '재시험')

In [72]:
# ex4-1. 점수를 입력받아 학점을 return
score_grade = lambda point : 'A학점' if 90<=point<=100 else \
                             'B학점' if 80<=point<80 else \
                             'C학점' if 70<=point<60 else \
                             'D학점' if 60<=point<60 else \
                             'F학점' if 50<=point<60 else \
                             '유효하지 않음'

In [75]:
score_grade(-11)

'유효하지 않음'

In [84]:
# ex5 safe_index 함수를 람다식으로
def safe_index(lst, item, start=0):
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst[start:]:
#         return lst.index(item, start) # start 번째부터 item 있는 index를 반환
#     else:
#         return -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst[start:] else -1

lst = [1, 2, 3]
safe_index(lst, 4), ex5(lst, 3, 1)

(-1, 2)

In [89]:
# 람다식을 list에 넣기
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div]  # 사직연산 함수(람다식으로 되어있는)들이 포함된 list

def act_operations(a, b, operations=operations): # a, b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result

act_operations(20, 0)

[20, 20, 0, '두번째 인자가 0이면 못 나눠요']

In [91]:
act_operations(8, 2, [lambda x,y : x**y, lambda x,y : 10*x+y])

[64, 82]

In [94]:
(lambda x,y : 10*x+y)(5,3)

53

In [95]:
operations.append(lambda x,y : x**y)
len(operations)

5

In [96]:
act_operations(8,2) #기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return문

### (1) map

In [ ]:
변수명 = 람다식

In [100]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append( func(item) )
    return result

In [99]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [102]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#     return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [103]:
map_template(lambda x:x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [105]:
# 리스트 컴프리헨션
[item*2 for item in list_data] # = [x_2(item) for item in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [107]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [109]:
for data in map(lambda x:x*2, list_data):
    print(data, end=' ')

2 4 6 8 10 12 14 16 18

In [116]:
'''
예제1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']를  [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))
prices_int = map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

5000 5000 6000 1000 5000 5000 6000 1000

In [ ]:
'''
예제2 : members1을 members2로
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]
members2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
            {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
'''

In [129]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]

In [123]:
# 'birth':'2025-01-01' => {'year':2000, 'month':1, 'day':1}
def split_date(data):
    split_date = data.split('-')
    return {
        'year':int(split_date[0]),
        'month':int(split_date[1]),
        'day':int(split_date[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [ ]:
# {'name':'홍길동', 'birth':'2000-01-01'} => {'name':'홍길동', 'year':2000, 'month':1, 'day':1}

In [124]:
# 'birth':'2025-01-01' => {'year':2000, 'month':1, 'day':1}
def split_date(data):
    return {
        'year':int(data.split('-')[0]),
        'month':int(data.split('-')[1]),
        'day':int(data.split('-')[2])
    }
split_date('2025-01-01'), split_date('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [126]:
# 'birth':'2025-01-01' => {'year':2000, 'month':1, 'day':1}
def split_date(data):
    return {
        'year':int(data['birth'].split('-')[0]),
        'month':int(data['birth'].split('-')[1]),
        'day':int(data['birth'].split('-')[2])
    }
split_date({'birth':'2025-01-01'})

{'year': 2025, 'month': 1, 'day': 1}

In [ ]:
# {'name':'홍길동', 'birth':'2000-01-01'} => {'name':'홍길동', 'year':2000, 'month':1, 'day':1}

In [132]:
# {'name':'홍길동', 'birth':'2000-01-01'} => {'name':'홍길동', 'year':2000, 'month':1, 'day':1}
def member_preprocessing(member):
    return {
        'name' : member.get('name', '이름없음'), #member['name']
        'year' : int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day'  : int(member.get('birth').split('-')[2])
    }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [133]:
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [135]:
members2 = list(map(lambda member: {
                                    'name' : member.get('name', '이름없음'),
                                    'year' : int(member.get('birth').split('-')[0]),
                                    'month': int(member.get('birth').split('-')[1]),
                                    'day'  : int(member.get('birth').split('-')[2])
                                    }, members1
                   )
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
'''
예제3. members2를 members1로 전환
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
            {'name':'신길동', 'birth':'1995-12-18'},]
members2 = [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
            {'name':'신길동', 'year':1995, 'month':12, 'day':18},]
'''

In [152]:
# {'year':2025, 'month':1, 'day':1} => '2025-01-01'

def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2025, 'month':12, 'day':15})

'2025-12-15'

In [154]:
# {'year':2025, 'month':1, 'day':1} => '2025-01-01'
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2025, 'month':12, 'day':10})

'2025-12-10'

In [155]:
# {'year':2025, 'month':1, 'day':1} => {}'birth':'2025-01-01'}
def join_date(data):
    return {"birth":"{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2025, 'month':12, 'day':10})

{'birth': '2025-12-10'}

In [158]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1} => {'name':'홍길동', 'birth':'2000-01-01'}
def members_preprocessing(member):
    return {
        'name' : member.get('name'),
        'birth': "{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'홍길동', 'year':2000, 'month':1, 'day':1})

{'name': '홍길동', 'birth': '2000-01-01'}

In [159]:
list(map(lambda member : {
    'name' : member.get('name'),
    'birth': "{year}-{month:02}-{day:02}".format(**member)
    }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [160]:
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [166]:
list_data = [1,2,3,4,5,6,7,8,9] #홀수만 출력하시오
def odd_chk(value):
    return value%2
#         if value%2:
#             return True
#         else:
#             return False
filter_template(lambda value : value%2, list_data)

[1, 3, 5, 7, 9]

In [167]:
# 리스트컴프리헨션
[value for value in list_data if value%2!=0]

[1, 3, 5, 7, 9]

In [169]:
list(filter(lambda value : value%2, list_data))

[1, 3, 5, 7, 9]

In [170]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오. (filter/리스트컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]  # 1, 3, 100, -2
list(filter(lambda x : x%1==0, L))

[1, 3.0, 100, -2.0]

In [172]:
[item for item in L if item%1==0] #리스트컴프리헨션

[1, 3.0, 100, -2.0]

### (3) sort

In [175]:
p = [10, 3, 6, 1]
p.sort(reverse=True)
p

[10, 6, 3, 1]

In [176]:
# 무조건 0번째 item을 기준으로 오름차순 정렬한다.
paris = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
paris.sort()
paris

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [178]:
# 1번째 item 기준으로 내림차순(또는 오름차순) 정렬
paris.sort(key=lambda data : data[1]) #오름차순
paris.sort(key=lambda data : data[1], reverse=True) #내림차순
paris

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [182]:
# 합이 큰 순서대로 정렬하기
number_2d = [[9,9], [1,100], [10,200,2]]
number_2d.sort()
print(number_2d)
number_2d.sort(key=lambda items : sum(items), reverse=True)  # 내림차순. 큰 수 부터 나열
print(number_2d)

[[1, 100], [9, 9], [10, 200, 2]]
[[10, 200, 2], [1, 100], [9, 9]]

In [189]:
students = [{'name':'홍', 'score':99},
            {'name':'김', 'score':50},
            {'name':'박', 'score':77},
            {'score':100}]
# students.sort()  # 딕셔너리는 우선순위를 매길 수 없음.

In [190]:
name_select = lambda data : data.get('score')
name_select({'name':'김', 'score':50})

50

In [195]:
# students를 name순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name', '힣'))
students

[{'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [196]:
# students를 score 큰 순으로 정렬
students.sort(key=lambda data : data.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [ ]:
# 예제 : books 정렬(no, title, price)

In [202]:
books = \
    [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
     {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
     {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
     {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
     {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
     {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [203]:
books

[{'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [205]:
# no 기준으로 정렬
books.sort(key=lambda book : book['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [206]:
# title 기준으로 정렬
books.sort(key=lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [212]:
# price 기준으로 정렬
books.sort(key=lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [228]:
#  30200 => 32000, '12,000' => 12000, '5000' => 5000, 'ㅁ' => 0, None => 0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
parse_int = lambda price : \
            int(price.replace(',','')) \
                if isinstance(price, str) and price.replace(',','').isdigit() else \
            price if isinstance(price, int) else 0
        
parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None)

(12000, 30200, 0, 0)

In [224]:
books.sort()

TypeError: parse_int() missing 1 required positional argument: 'price'

In [234]:
#  {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}
parse_int = lambda book : \
            int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and \
                              book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else 0

parse_int({'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 'a'})

0

In [233]:
books.sort(parse_int())

TypeError: <lambda>() missing 1 required positional argument: 'book'

In [237]:
copyBooks = books.copy() #깊은복제
copyBooks.sort(key=lambda book : \
              int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and \
                              book.get('price').replace(',','').isdigit() else \
            book.get('price') if isinstance(book.get('price'), int) else 0, reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절. 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용되는 것을 피한다.

In [3]:
a = 10

In [2]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'global()', 'globals()'],
 '_oh': {},
 '_dh': [WindowsPath('C:/AIX/source/01_Python')],
 'In': ['', 'global()', 'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000025A3EDE3730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x25a3edefee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x25a3edefee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': 'global()',
 '_ii': '',
 '_iii': '',
 '_i1': 'global()',
 '_i2': 'globals()'}

In [ ]:
all([True, True, True, False]) # 모든 요소가 True인지 여부

# 6절. 연습문제

## 실습형

In [33]:
# 1. 함수의 인자로 리스트를 받은 후 
#    리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요

# • def get_max_min(data_list):
# • get_max_min = lambda ~

digit_list = [1, 2, 3, -9.5 , -8, 5, 4.5, 7.1, 4.7, -4]

In [49]:
# max(digit_list)
int_num = []
def get_max_min(data_list):
    for num in data_list:
        if num%1==0:
            int_num.append(num)
            maxNum = max(int_num)
            minNum = min(int_num)
    return {'최대값 =':maxNum, '최소값 =':minNum}

get_max_min(digit_list)

{'최대값 =': 5, '최소값 =': -8}

In [61]:
# 2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다.
# 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중
# 하나의 상태를 출력하는 함수를 구현해 보세요.

# • getBMI(kg, m):
# • BMI지수 = 체중(kg) / 신장(m)의 제곱
# • BMI<18.5 : 마른체형
# • 18.5<=BMI<25 : 표준
# • 25<=BMI<30 : 비만
# • BMI >=30 : 고도비만

def getBMI(a, b):
    if (a/b**2)>= 30:
        return (a/b**2), "고도비만"
    elif 25 <= (a/b**2) < 30:
        return (a/b**2), "비만"
    elif 18.5 <= (a/b**2) < 25:
        return (a/b**2), "표준"
    else:
        return (a/b**2), "마른체형"

getBMI(78, 1.72), getBMI(65, 1.72)

((26.365603028664147, '비만'), (21.971335857220122, '표준'))

In [4]:
# 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요 (넓이, 둘레)

# • 리턴값은 면적과 둘레를 return하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0 
# • def get_triangle(width, height):
import math
def get_trianle(w, h):
    area = w * h * 0.5
    # math.sqrt() : 제곱근
    perimeter = w + h + math.sqrt(w*w + h*h)
    # return area, perimeter #튜플로 리턴
    return {'넓이':area, '둘레':perimeter}
get_trianle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [ ]:
# 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요
# (시작값과 끝값 포함).
# •def mysum(fRom, end):

def mysum(a, b):
    for

In [115]:
# 5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 
# 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요

# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때
#   함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# • def get_abbrs(lst):

city = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']

def get_addrs(lst):
    for x in lst:
        print(x[:3], end='\t')

get_addrs(city)

Seo	Dae	Kwa	Jej

In [86]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
def f(x,y):
    return x**y

f2 = lambda x,y : x**y

f(3,3)
# f2(3,3)

27

In [107]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 
# 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오.

ex = [1, 2, 3, 4, 5]
#[1, 4, 9, 16, 25]

def ans(lst):
    for x in lst:
        return x**2

ans(ex)

1

In [108]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
a = [1, 2, 3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [111]:
# 9.다음 코드의 실행 결과는?
date_info={'year':2024, 'month':9, 'day':6}
result = '{year}-{month:02}-{day:02}'.format(**date_info)
result

'2024-09-06'

In [30]:
# 10. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

def vector_size_check(*vector_var):
    print(vector_var)
vector_size_check([1,2], {10,20}, {'name':'홍', 'age':30}, (1,))

([1, 2], {10, 20}, {'name': '홍', 'age': 30}, (1,))

In [ ]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.
# (단 입력되는 벡터의 크기는 일정하지 않음)

## 서술형

In [113]:
# 1 = 2
# 2 = 
# 3 = 200, 100
# 4 = (2,3)
# 5 = 9
# 6 = 1,4 (중복정의=오버로딩을 할 수 없다)
# 7 = 2
# 8 = lambda