In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

 ## 1.1 변수 할당
 - 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
 - **파이썬에서의 모든 변수는 객체로 저장**

In [2]:
r = 5
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [4]:
import numpy as np # numpy패키지를 np라는 이름으로 사용
area = np.pi * r * r
print('넓이 :', area)

넓이 : 78.53981633974483

In [5]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 1743475098480
area의 타입 : <class 'float'>

In [6]:
area.is_integer()

False

In [7]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 1743392539152
area의 타입 : <class 'int'>

In [8]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 1743512569392
area의 타입 : <class 'str'>

 ## 1.2 변수(함수) 이름 규칙
 - 문자로 시작
 - 문자(특수문자는 " _ " 외에는 불가), 숫자, _ 로 변수명 작성
 - 함수명은 변수명으로 가능하나 피한다. 꼭 써야 한다면 str_ 식으로 사용한다.
 - 파이썬 예약어(for, if, def, class... 등)은 변수명 사용 불가
 - 한글 변수는 꼭 필요시에만 사용

In [9]:
이름 = "홍길동" # 비추
print(이름)

홍길동

In [10]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [12]:
# member.name = "홍길동" #.사용 안됨
member_name = "홍길동"
memberName = "홍길동"
print(member_name, memberName)

홍길동 홍길동

In [13]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j #복소수
print(type(i))

<class 'complex'>

In [14]:
isinstance(i, complex) # i변수가 complex 타입의 객체인지?

True

In [15]:
isinstance(i, int) # i변수가 int타입의 객체인지?

False

 ## 1.3 다중 변수 선언

In [18]:
a = 10
b = 20

In [22]:
a, b = 10, 20
print (a, b)

10 20

In [23]:
a, b = b, a+b # 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a, b)

20 30

 ## 1.4 도움말

In [24]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
help() # help 빠져나오기 : q / 결과접기/펴기 : esc+o

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shift + tab 키
print()

In [26]:
def add(x, y=0):
    '''
    매개변수(x, y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10 + y

In [27]:
add(3, 4)

34

In [28]:
add(3)

30

# 2절. 화면 입출력 (i/o)

In [30]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음
first = input()
print(first)

아무거나
아무거나

In [31]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?8
두번째 숫자는?2

In [32]:
print(first, second)

8 2

In [34]:
print('두수의 합은', first+second)

두수의 합은 82

In [36]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?8
두번째 숫자는?2

In [37]:
print('두수의 합은', first+second)

두수의 합은 10

In [47]:
print('first', first, 'second', second, sep=', ')
print('Hello', 'Python', end='\n')

first, 8, second, 2
Hello Python

# 3절. 기본 자료형
- 자료형 : 변수가 가져야 할 값의 형식. 자료형의 따라 값의 크기와 저장 방식 달라짐(메모리 크기)
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    
    - 숫자 : int, float(소수점 4.0), complex(허수부 j) 
    - 문자 : str("", '')
    - 논리 : bool(True/False)
    
  ## 3.1 숫자형

In [48]:
import sys
print(sys.maxsize) # 정수의 최대값 : 2**63 - 1

9223372036854775807

In [49]:
2**63 - 1

9223372036854775807

In [50]:
i = sys.maxsize + 10000000000000000000000000
print(i)
print(type(i))

10000009223372036854775807
<class 'int'>

In [73]:
# f = 0.0000000000000000000012
f = 1.2e-20 # 지수형 1.2*10의 -20승
print(f)
b = 1.2e20 # 지수형 1.2의 10의 20승
print(b)

1.2e-20
1.2e+20

In [58]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 3/2
print('f =', f)

f = 1.5

In [61]:
# 자바나 c, c++처럼 정수/정수 결과를 정수로 나타게 하는 방법
f = int(3/2) # int(): int로 형변환(내림)
print('f =', f)
f = 3//2 # 몫연산자(슬래쉬 2개)
print('f =', f)

f = 1
f = 1

 ## 3.2 문자형
 겹따옴표("~")나 홑따옴표('-')이용

In [68]:
#name = '홍길동\'짱\''       # 홍길동'짱'
name = "홍길동'짱'"
address = '서울시 관악구 "신림"동' #서울시 관악구 "신림" 동
print(name, address, sep='\n')

홍길동'짱'
서울시 관악구 "신림"동

In [67]:
# escape 문자(탈출문자) : \n \t
test = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨 \n줄바꿈'
print(test)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

In [70]:
test = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈'''
print(test)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

 ### ※ 문자열 연산 (+,*)

In [76]:
"""
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 아무개
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [77]:
print(name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용

In [80]:
# raw데이터 : 데이터 처리시 이스케이프(escape) 문자(\n, \t, \', \")를 그대로 저장
print('Hello\nWorld')
print()
print(r'Hello\nWorld')

Hello
World

Hello\nWorld

 정규표현식(regex)

    1. 참조 : https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D 위키백과
    2. 간략문법
        \d (숫자와 매치. [0-9]와 동일)
        \D (숫자가 아닌 것)
        \w (영문자나 숫자 [a-zA-Z0-9]와 동일)
        \W (영문자나 숫자가 아닌 문자)
        . (문자)
        \. (.)
        \- (-)
        {2,} (2번 이상 반복)
        {2, 4} (2~4회 반복)                \d{2,3}[\-]?\d{3,4}
        ?      (0번이나 1번 의미)
        +      (1번 이상 반복)
        *      (0번 이상 반복)
    3. 정규표현식 연습장 https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999
                       02)999-9999
                       => 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
        ex2. 이메일 : abc12@naver.com / abc12@sns.co.kr
                       => \w+@\w+(\.\w+){1,2}      
        ex3. 주민번호 : 981212-1052525 011313-3052525 010212-1052525
                       => (\d{2}0[1-9][0-3]\d\-[0-4]\d{6})|(\d{2}1[0-2][0-3]\d\-[1-4]\d{6})
                       => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}
    4. 소스 구현

In [2]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
형액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍형액형:Bㅋㅋ ㅋㅋzz

In [85]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 요도로 raw 데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) # 해당 패턴을 다 찾아 줌. 없으면 빈 list
print(tels)

['02-888-8888', '010-9999-9999']

In [87]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
print(emails)
#email 정보는 없기 때문에 값이 없음. 값이 없을 때 error로 나타나는 함수도 존재함

[]

In [88]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
print(firstTel)

<re.Match object; span=(18, 29), match='02-888-8888'>

In [90]:
print(data[18:29]) # 문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [91]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"
firstPhone = re.search(tel_pattern, data)
firstPhone

In [92]:
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [94]:
# 특정한 데이터 없애기 (sub)
re.sub(r"[^가-힣0-9A-Z\s]", ' ', data)

'이름 홍길동  주소 서울  전화 02 888 8888  핸드폰 010 9999 9999  특징 동해번쩍 서해번쩍형액형 B       '

In [3]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel_pattern, ' ', data)

'이름:홍길동, 주소:서울, 전화: , 핸드폰: , 특징:동해번쩍 서해번쩍형액형:Bㅋㅋ ㅋㅋzz'

In [ ]:
# 파일 경로 (\\ 또는 /를 사용해도 경로로 인식할 수 있지만 r이 편함)
file_path = r"C:\AIX\source\01_Python\data\ch02.txt"
file_path = "C:\\AIX\\source\\01_Python\\data\\ch02.txt"
file_path = "C:/AIX/source/01_Python/data/ch02.txt"

In [4]:
# 파일 경로 (\\ 또는 /를 사용해도 경로로 인식할 수 있지만 r이 편함)
file_path = r"C:\AIX\source\01_Python\data\ch02.txt"

In [8]:
file_stream = open(file_path, "w")
print("Hello, Python.", "Hello, World", sep="\n") # 화면 출력
print("Hello, Python.", "Hello, World", sep="\n", file=file_stream) # 파일 출력
file_stream.close() # close 하지 않으면 저장 안 됨

Hello, Python.
Hello, World

### ※ 문자열 인덱싱

In [9]:
str_ = '0123456789'
str_

'0123456789'

In [11]:
str_[0], str_[2], str_[-1], str_[-3] # 음수인덱싱은 맨 마지막이 -1 (0이 아님)

('0', '2', '9', '7')

In [12]:
str_[10] # 없는 인덱싱은 에러 발생함

IndexError: string index out of range

### ※ 문자열 슬라이싱

In [ ]:
'''
문자열변수[from:to] : from부터 to 앞까지 추출
문자열변수[from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략시 처음부터 시작한다고 생각
    to 생략시 끝까지 한다고 생각
    step 생략시 1씩 증가로 생각
'''

In [15]:
str_[0:3], str_[:3] # from 생략시 처음부터

('012', '012')

In [19]:
str_[-5:]

'56789'

In [18]:
str_[5:10], str_[5:] # to 생략시 끝까지

('56789', '56789')

In [20]:
str_[-5:-1] # -5번째부터 -1번째 앞까지 (끝까지가 아님. 끝까지 하고 싶을땐 to 생략)

'5678'

In [13]:
str_[2:6]

'2345'

In [14]:
str_[0:10:2]

'02468'

In [21]:
str_[9:0:-1] # 9번째부터 0번째전까지 -1씩 전진하면서 추출

'987654321'

In [26]:
# quiz : 마지막글씨부터 처음글씨까지 거꾸로 출력해주세요 -> 9876543210
str_[9::-1] # 내가 쓴 정답

# 모범답안
print(str_[::-1])
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True/False)

In [35]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [36]:
int(True), int(False)

(1, 0)

In [37]:
bool(1), bool(0)

(True, False)

In [39]:
bool(1000), bool(0), bool(), bool("러닝"), bool(" ")

(True, False, False, True, True)

In [ ]:
# False로 간주 되는 것 : 0, ""(빈 스트링), [](빈 리스트), ()(빈 튜플), {}(빈 딕셔너리), None
# False로 판별되는 경우를 제외하고는 모두 True (소숫점, 문자, 공백(스페이스) 포함)

In [47]:
if None:
    print("True")
else :
    print('False')

False

In [4]:
name = input("이름은? ")
if name: # name이 빈스트링이 아니면
    print('당신의 이름은', name)
else:
    print('이름을 입력 안 하셨군요')

이름은? ㅁㄴㅇㄹ
당신의 이름은 ㅁㄴㅇㄹ

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입) : 변수가 해당 타입인지 여부
- float() : 실수형으로 변환
- int()   : 정수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환 하는 함수

In [5]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [16]:
# 에러나는 경우들
 ## int(""), int(" "), int(none), int("123.9"), int("5,000")
 ## float를 사용해도 동일하게 에러 발생함(소수점 제외)

# 4절. 포맷팅
- 포맷팅이란 출력할 문자, 숫자, 날짜 형식을 지정하는 것

## 4.1 문자열에 형식 지정

In [22]:
name = "홍길동"
age = 30
## print(name + "님의 나이는" + age + "살입니다.") : 잘못 됨
print(name + "님의 나이는 " + str(age) + "살입니다.")
print(name, "님의 나이는 ", age, "살입니다.", sep='')

홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.

In [24]:
# %s:문자, %d:10진수, %f:실수
print("%s님의 나이는 %d살입니다"%(name, age)) # 가장 안쓰는 방식 (옛날 구식 방식)
print(f"{name}님의 나이는 {age}살입니다") # 많이 사용함

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [30]:
print("{}님의 나이는 {}살입니다.".format(name, age)) # 가장 많이 사용함
print("{0}님의 나이는 {1}살입니다.".format(name, age))
print("{1}님의 나이는 {0}살입니다.".format(age, name))
print("{1:>5s}님의 나이는 {0:$<3d}살입니다.".format(age, name))

홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.
홍길동님의 나이는 30살입니다.
  홍길동님의 나이는 30$살입니다.

## 4.2 format() 문법
- "{}", "{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}",'{}', format(변수명)
    * 인덱스 : format 함수안의 매개변수 순서
    * 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    * 정수자릿수 : 출력할 자릿수
    * 실수자릿수 : 전체출력될 자리수.변수중에 출력할 자리수 ex)10.2
    * 타입 : d(10진수), o(8진수), x(16진수), b(2진수), f(실수), s(문자)
    * 공백대체문자는 정렬방식을 명시하여 함

In [32]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
# 변수보다 작은 자리수를 지정하면 자릿수 무시되고 다 출력(정수자릿수)

a = 12345
s = 'Hello'
# print("[{}] [{:10}] [{:3}]".format(a)) # 인덱스가 3개가 필요한데 a가 하나 뿐이라 에러
print("[{0}] [{0:10}] [{0:3}]".format(a)) # 정수 출력
print("[{0}] [{0:10}] [{0:3}]".format(s)) # 문자 출력

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [35]:
# 정렬방식 : <, ^, >
a, b, c = 10, 20, 3
print("[{:<4}] [{:^4}] [{:>4}]".format(a, b, c))
print("[{:4}] [{:4}] [{:4}]".format(a, b, c)) # 숫자는 오른쪽 정열(기본)

[10  ] [ 20 ] [   3]
[  10] [  20] [   3]

In [47]:
# 실수 자릿수 ex)10.2f:전체10자리 소수점2자리 / 6.2:전체6자리중2자리 출력
a = 10
f = 12.569
g = 12.5
s = "Hello"
print("[{:$>6}] [{:6.2f}]".format(a, f)) # 소숫점 2자리를 표현하기위해 반올림 됐음
print("[{:$>6}] [{:6.2f}]".format(a, g)) # 소숫점 2자리를 표현하기위해 .50까지 표시 됨
print("[{:$>6.2f}] [{:6.2f}]".format(a, f))
print("[{:$>6}] [{:6.2f}] [{:_>6.2}]".format(a, f, s))
#공백대체문자를 쓸 경우 반드시 정렬방식(>, ^, <)을 표현해야 한다.

[$$$$10] [ 12.57]
[$$$$10] [ 12.50]
[$10.00] [ 12.57]
[$$$$10] [ 12.57] [____He]

In [53]:
#자리수 앞에 +를 붙이면 양수의 경우도 부호출력 (부호도 자리수로 포함됨)
a, b = 123, -123
print("[{:+10}], [{:+10}], [{:10}]".format(a, b, a))
print("[{:=10}], [{:=10}], [{:10}]".format(a, b, a)) # =을 사용하면 양수는 부호 사라지고 음수 부호는 앞으로 나타남
print("[{:=+10}], [{:=+10}], [{:10}]".format(a, b, a)) # 부호를 앞으로 가져오면서 양수/음수 모두 나타남

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [64]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print('10진수 [{:4d}]'.format(a))
print(' 8진수 [{:4o}]'.format(a))
print('16진수 [{:4x}]'.format(a))
print(' 2진수 [{:4b}]'.format(a))
print(' 2진수 {:4b}'.format(a))

10진수 [  15]
 8진수 [  17]
16진수 [   f]
 2진수 [1111]
 2진수 1111

In [73]:
a = 2.785
sign = "+"
width = 10
precision = 4
print(1,"[{:+10.4}]".format(a))
print(2,"[{:{}10.4}]".format(a, sign))
print(3,"[{:{}{}.4}]".format(a, sign, width))
print(4,"[{:{}{}.{}}]".format(a, sign, width, precision)) # 가독성이 매우 떨어짐
print(5,"[{:{sign}{width}.{precision}}]".format(a,
                                             sign=sign, width=width, precision=precision))

1 [    +2.785]
2 [    +2.785]
3 [    +2.785]
4 [    +2.785]
5 [    +2.785]

## 4.3 날짜출력

In [4]:
import datetime # datetime 모듈(파이썬 프로그램 파일 datetime.py) 전체를 메모리에 load 하는 의미
from datetime import datetime # datetime모듈안의 datetime 함수만 메모리에 load 함
thatday1 = datetime(2025, 9, 11) # 25년 9월 11일 0시0분0초
thatday2 = datetime(2025, 9, 11, 9, 30, 0)
thatday1
## datetime.__file__ # 파일 경로 나타남

datetime.datetime(2025, 9, 11, 0, 0)

In [10]:
# Y(년도4자리), y(년도2자리) m(월), d(일), p(am/pm), I(12시간), H(24시간) M(분), S(초)
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %I시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday2))

25년 09월 11일 00시 00분 00초
25년 09월 11일 12시 00분 00초
25년 09월 11일 AM 09시 30분 00초

In [12]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [14]:
thatday2.strftime("%y년 %m월 %d일 %p %I시 %M분 %S초")

'25년 09월 11일 AM 09시 30분 00초'

In [16]:
# 현재의 날짜와 시간
now = datetime.now() #지금 현재 시간
now - thatday1 # 날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=53678, microseconds=885183)

In [21]:
# 지금(날짜와 시간 모두 포함) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I :%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I :%M")) #가장 많이 사용하는 형식(방법)

2025-09-15 PM 02 :54
2025-09-15 PM 02 :54

In [28]:
# 지금(날짜와 시간 모두 포함)을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I :%M")

'2025-09-15 PM 03 :02'

In [30]:
print(strftime("%Y-%m-%d %p %I :%M"))

2025-09-15 PM 03 :03

In [31]:
strftime("%Y-%m-%d %p %I :%M")

'2025-09-15 PM 03 :03'